@import "tailwindcss";

/* #001524 - Ink Black */
/* #15616D - Stormy Tea */
/* #FFECD1 - Papaya Whip */
/* #FF7D00 - Harvest Orange */
/* #78290F - Brandy */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-ink: #001524;
  --color-stormy: #15616d;
  --color-papaya: #ffecd1;
  --color-orange: #ff7d00;
  --color-brandy: #78290f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001524;
    --foreground: #ff7d00;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
